@charset "UTF-8";

@font-face {
    font-family: 'Alien';
    src: url('../_fonts/Alien/alienleagueiileft-webfont.woff2') format('woff2'),
         url('../fonts/Alien/alienleagueiileft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Circular Book';
	src: url('../_fonts/circular/Circular-Book.eot');
	src: url('../_fonts/circular/Circular-Book.eot?#iefix') format('embedded-opentype'),
		url('../_fonts/circular/Circular-Book.woff') format('woff'),
		url('../_fonts/circular/Circular-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Impact';
	src: url('../_fonts/Impact/Impact.eot');
	src: url('../_fonts/Impact/Impact.eot?#iefix') format('embedded-opentype'),
		url('../_fonts/Impact/Impact.woff') format('woff'),
		url('../_fonts/Impact/Impact.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html{width: 100%, height:auto;}
body{
	width: 100%;
	height: 100%;
	background: #1A1A1A;
	margin: 0;
}

div, span {
	 display: block;
}

header{
	height: 120px;
	width: 100vw;
	margin: 0;
	position: fixed;
	display: inline;
	top: 0;
	left: 0;
	z-index: 3;
	background: #1A1A1A;
}

h1, h2, h3 { font-family: 'Impact'; }

h3{
	text-transform: uppercase;
	font-size: 1.44em;
	letter-spacing: 0.5pt
}

h4, h5{ font-family: 'Circular Book'; margin: 0; }

p{font-family: 'Circular Book';}

a{color: #FF00D7; text-decoration: none;}

#logo-box{
	height: 100%;
	width: 150px;
	left: 0;
	margin-left: 50px;
	position: absolute;
	display: table
}

#menu{
	height: 100%;
	width: 60%; 	
	right: 0;
	margin-right: 30px;
	position: absolute;
	font-family: 'Impact';
	letter-spacing: 0.035em;
	display: inline-flex;
}

#text-box {
	display: table-cell;
	vertical-align: middle;
}

#text-box h1{
	font-family: 'Alien' !important;
	font-size: 30pt;
	margin: 0;
}

#text-box h1 a{
	text-decoration: none;
	color: #FF00D7;
}

.colum{
	width: 145px; 
	height: 100%; 
	margin-right: 6.3%;
	display: table;
}

.colum:last-child{
	right: 0;
	margin-right: 0;
	position: absolute;
}

#menu ul{
	padding: 0;
	display: table-cell;
  	vertical-align: middle;
}

#menu li{list-style-type: none;}

#menu li a{
	color: white;
	font-size: 1.1em;
	padding-bottom: 9px;
	display: block;
	border-top: 1.7px solid white;
	text-decoration: none;
	text-transform: uppercase;
}

#menu li a:hover {
	color: #FF00D7;
	border-top: 1.7px solid #FF00D7;
}

.folded-up{
    transition: 300ms ease-in-out;
    -webkit-transform: translate(0,-120px);
    -ms-transform: translate(0,-120px);
    transform: translate(0,-120px);
}

section{
	background: white;
	width: 100%;
	position: relative;
    top:120px;
    height: auto;
    z-index: -1;
    padding-bottom: 50px;
}

.content-wrapper{
	width: 90%;
	margin: 0 auto;
	height: auto;
	display: grid;
}



#staff-wrapper{
	width: 100%;
	position: relative;
	height: auto;
}

.row{
	width: 100%;
	height: auto;
	float: left;

}
.three-colums{
	display: block;
	margin-right: 2.35765%;
	width: 22.9%;
	float: left;
}

.three-colums:last-child {
	margin-right: 0;
	right: 0
}

.one-colum{
	float: left;
	width: 6.17215%;
}

.four-colums{  
    float: left;
    display: block;
    margin-right: 3.55%;
    width: 30.76157%;
    height: auto;
    margin-bottom: 50px;
}

.four-colums:last-child {
	margin-right: 0;
	right: 0
}


.img-box{
	width: 100%;
	border: 7px solid #FF00D7;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    object-fit: contain
}

img{
	width: 100%;
}

a.portfolio {
	position: absolute;
	margin-top: 10px;
	text-align: right;
}

footer{
	width: 100%;
	position: absolute;
	height: auto;
	clear: both;
	margin: 8em 0 0 0;
	color: white;

}

#foot-wrapper{
	position: relative;
	width: 90%;
	margin: 40px auto;
	height: auto;
}

#foot-wrapper ul{ 
	list-style: none; 
	padding: 0;
}

#foot-wrapper ul li{
	font-family: 'Circular Book';
}

#foot-wrapper h4{
	text-transform: uppercase; 
	border-top: 2px solid white;
}

.three-colums ul li a{ color: white; }
.three-colums ul li a:hover{ color: #FF00D7; }
