@import url(http://fonts.googleapis.com/css?family=Lato:700);
* { 
  box-sizing: border-box
}
html, body {
	font-family: 'Open Sans Condensed', sans-serif;
	background: 	#345d7e;
	height:auto;
	width:100%;
	/*margin-left:20px;*/
	/*margin-right:40px;*/
}


#navigationBar {
	position: absolute;
	top: 0;
	left: 0;
	/*background: #CCC;*/
	padding-bottom: 100px;
	height:80px;
	width:100%;
	border:#FFF;
}

#myAbout {
/*padding: 10px;*/
margin-top: 0px;
margin-left:30px;
}

#myContact {
/*padding: 10px;*/
	margin-left:30px;
}

.modal-body {
	overflow-y: auto;
}

#myModal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	box-shadow: 0px 4px 20px;
}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 90%; /* Could be more or less, depending on screen size */
	height:flex;
}
#myModalTwo {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	box-shadow: 0px 4px 20px;
}

input[type=text], select {
	position:center;
	width: 90%;
	padding: 12px 40px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=message] {
	position:center;
	width: 90%;
	height: 150px;
	padding: 12px 40px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	position:center;
	width: 50%;
	background-color: #942F4C;
	color: white;
	padding: 14px 40px;
	margin: 10px 0;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #E5BBC7;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	/*padding: 35px 32px;*/
	padding-left: 100px;
	text-align: center;
	text-decoration: none;
	display:flex;
	font-size: 16px;
}

p {
	position: center;
	margin-bottom: 50px;
	text-align: left;
	font: 20px;
	padding-left:100px;
	padding-right:100px;
	color:#CCC;
  line-height: 1.5;
}

h1 {
	font-size: 30px;
	color: #ccc;
	/*display:flex;*/
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing:2px;
	width:80%;
	padding-left:550px; 
	margin:0;
  font-family: 'Alien';
}

h2 {
	font-size: 17px;
	color: #ccc;
	display:flex;
	align-items: center;
	justify-content: center;
	letter-spacing:2px;
	margin-left:80px;
	margin-right:80px;
	margin-bottom: 40px;

}

h3 {
	/*position:relative;*/
	width:50%;
	margin: 100px;
	font-size: 20px;
	color: #ccc;
	letter-spacing:2px;
	/*margin:15%;*/
	color:white;
}


hr{
	margin-left:80px;
	margin-right:80px;
}

#box {
	height:400px;
	width:800px;
	background:#C0C0C0;
	margin:200px;
}

#main {
	height:400px;
	width:800px;
	background:#6495ED;
	margin:200px;
}

li {
  display:block !important
  box-shadow: inset 0 0 0 3px transparent;
  float: left;
  display: block;
  	border-radius: 50%;

  width: 150px;
  height:150px;
  /*border:1px solid #fff;*/
  position: relative;
 	margin: 30px;
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: inset 0 0 0 3px #6495ED;
  }
}

.fullwidth{
	position:relative;
  width:100%;
}
.turquoise { background: white; }


/* Animation Samples - JustAddWater*/
/* Animation Samples - JustAddWater*/
.animated:hover{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:3s;-moz-animation-duration:3s;-ms-animation-duration:3s;-o-animation-duration:3s;animation-duration:3s;}.animated.hinge{-webkit-animation-duration:3s;-moz-animation-duration:3s;-ms-animation-duration:3s;-o-animation-duration:3s;animation-duration:3s;}@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}

.top {
	width:100%;
	height:auto;
	margin-top:300px;
	background-color: #ccc;
}

#container {
  left: 0px;
  top: 0px;
  padding-top:700px;
  padding-bottom:;
  z-index: -1;
	background:white;
	width:100%;
	z-index:0;
	float: left;
	margin-top:300px;
}

#foot {
	z-index:0;
}

#video {
  /*padding-top:1000px;*/
  /*margin-top:1200px;*/
	margin-left:100px; 
 	margin-right:100px;
 	margin-bottom: 100px;
  z-index: -1;
	background:white;
	height:500px;
	z-index:0;
}

.arrowa {
	position:flex;
	margin-left:500px;
	margin-right:200px;
	padding-left: 200px;
	height:auto;
  transform: translate(10%, 10%) 
}

.pic {
	padding-left:40px;
	width:500px;
	height:auto;
}



